pre { line-height: 135%; }
blockquote pre { margin-top: 10px }  /* better styling for quoted code pieces */
code, .gutter pre {
  font-family: "Droid Sans Mono", Consolas, monospace;
}
code { font-size: 100%; }
h1 code, h2 code, h3 code, h4 code, h5 code, h5 code { font-size: 80%; }
.governing, .ocaml .ot { color: black; font-weight: bold; }
.keyword, .ocaml .kw, .ocaml .k, .planet .Keyword { color: #575bf4 }
.keywordsign { color: #886643; }
.constructor, .ocaml .dt, .ocaml .nc {
  color: #829f1c;
  font-weight: normal;
}
